*{
    /* set html, body, every element */
    margin: 0;
    padding: 0;
}
:root{
    /* set global Variable */
    --text-color-dark:black;
    --box-shadow: rgba(0,0,0, 0.2);
}
/* section header */
.header-navbar{
    background-color: aqua;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0px 64px 0px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 3px var(--box-shadow);
}
nav{
    text-align: end;
}
nav ul{
    gap: 16px;
    list-style: none;
    display: flex;
}
nav ul li a{
    color: var(--text-color-dark);
    text-decoration: none;
}