
/*header section*/
.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 90%;
  max-width: 600px;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid var(--black);
  color: var(--black);
  background: transparent;
  font-size: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: var(--black);
  cursor: text;
  transition: 0.2s;
}

button {
  padding: 10px 0;
  color: var(--white);
  outline: none;
  background: var(--button);
  border: none;
  width: 100%;
  cursor: pointer;
}

button:hover {
  box-shadow: 1px 1px 3px rgb(255, 255, 255) inset, 1px 1px 3px black;
}

button:active {
  box-shadow: -1px -1px 3px rgb(255, 255, 255) inset, 1px 1px 3px black inset;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
}

.contact-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-img img {
  height: 420px;
  width: 500px;
}
@media screen and (max-width: 1090px) {
  .contact-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
  }

  .contact-img img {
    height: 320px;
    width: 400px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 675px) {
  .socialMediaIconStyle {
    width: 50px;
  }
}

@media screen and (max-width: 450px) {
  .contact-img img {
    height: 200px;
    width: 300px;
    margin-bottom: 50px;
  }
}
