*{
    margin:0;
    padding:0;
    font-family: 'popins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 90%;
    max-width: 600px;
    
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline:0;
    border: 1px solid black;
    color: black;
    background: transparent;
    font-size: 15px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text;
    transition: 0.2s;
}

button{
    padding: 10px 0;
    color:black;
    outline: none;
    background: transparent;
    border: 1px solid black;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top:-35px;
    font-size: 14px;
}

.contact-img{
    display: flex;
    justify-content: space-around;
    margin-left: 5rem;
    margin-top: 10rem;
}

.contact-img img{
    height: 420px;
    width: 500px;

}