<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
 

 
        
        
            <div class="footer-container-first-column">
                <a href="index.html"><img src="img/logo.png"></a>
                <p>©Copyright Kochwelt 2023</p>
            </div>
        
            <div class="footer-container-second-column">
                <a href="Impressum.html">Impressum</a>
                <a href="AGB.html">AGB</a>
                <a href="datenschutz.html">Datenschutz</a>
            </div>
            </div>
        <div class="wrapper">
            <a href="https://www.facebook.com"><i class="fa fa-5x fa-facebook-square"></i></a>
            <a href="https://www.twitter.com"><i class="fa fa-5x fa-twitter-square"></i></a>
            <a href="https://www.youtube.com"><i class="fa fa-5x fa-youtube-square"></i></a>
            <a href="https://www.linkedin.com"><i class="fa fa-5x fa-linkedin-square"></i></a>
          </div>

</body>
