<div>
    <a href="index.html"><img class="socialMediaIconStyle" src="img/logo.png" alt=""></a>
    <h3><a href="Impressum.html">Impressum</a></h3>
    <h3><a href="AGB.html">AGB</a></h3>
    <h3><a href="datenschutz.html">Datenschutz</a></h3>
</div>
<div>
    <a href="https://de-de.facebook.com/"><img class="socialMediaIconStyle"
            src="img/icons/facebook_hex_icon.png" alt="facebook icon"></a>
    <a href="https://www.instagram.com/"><img class="socialMediaIconStyle"
            src="img/icons/instagram_hex_icon.png" alt="instagram icon"></a>
    <a href="https://www.pinterest.de/"><img class="socialMediaIconStyle"
            src="img/icons/pintrest_hex_icon.png" alt="printerest icon"></a>
    <a href="https://www.tumblr.com/"><img class="socialMediaIconStyle"
            src="img/icons/tumblr_hex_icon.png" alt="tublr icon"></a>
    <a href="https://twitter.com/"><img class="socialMediaIconStyle" alt="twitter icon"
        src="img/icons/twitter_hex_icon.png"></a>
</div>