<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<div class="header-navbar">
    <a href="index.html">
        <img id="logo" src="img/logo.png" alt="Logo-Kochwelt" />
    </a>
    <span onclick="openMenu()" id="menu" class="material-symbols-outlined">
        menu
    </span>
    <nav class="desktopNav" id="nav">
        <p onclick="closeMenu()" id="closeMenu">X</p>
        <ul>
            <li><a href="index.html">Start</a></li>
            <li id="linkDailyRecipe"><a href="#">Rezept des Tages</a></li>
            <li><a href="contact\contact.html">Kontakte</a></li>
            <li><a href="impressum.html">Impressum</a></li>
            <!-- * other languages -->
        </ul>
    </nav>
</div>